body {background-color: #000; color: #fff; font-family: 'Alegreya Sans', sans-serif; font-size: 16px;}
h1, h2, h3 {font-weight: 400}
label {font-weight: 500}
.btn {background: #A378CE}
textarea.form-control {height: 10em;}
.links {}

.logo span {display:none}
.divMenu {float: none}
#menuPrincipal {width: 100%; text-align: justify;
	&:after{content: "."; display: inline-block; width: 100%; height: 0; visibility: hidden;}
    li:after {content: " "; width:1px; height: 30px; background: #fff;}
	a {font-size: 1.32em; height: 30px; line-height: 30px; padding: 0 10px !important; text-transform: none;
        &:hover {background: #8aa62d}
        }
}
a.facebook {width: 41px; height: 42px; display: block; float: right; background-image: url(../images/facebook.jpg); margin-top: 20px; position: relative; z-index: 100;
    &:hover {background-position: right top;}
    span {display: none;}
}


.navbar-collapse {padding: 0}
.navbar-nav>li {float: none; display: inline-block;}

.banner {min-height: 350px; background: #666; margin-bottom: 2em; }
.presentacion{ padding-right: 2em; border-right:1px solid #fff; font-size: 1.2em;
    img {display: inline-block; float: right; padding-right: 2em}
}
.curso {padding-left: 2em;
    a {color: #8AA62D;text-decoration: none;
        &:hover {text-decoration: underline !important;}
    }
}

.cuerpoColor {background: #D3CADC url(../images/fondo-verano.jpg) no-repeat top left; padding: 12em 3em 3em; color:#000; position: relative;
    h2 {color: #6D8323; font-size: 30px; }
}
a.takano {display: block; height: 105px; width: 123px; background-image: url(../images/btn-takano.png); position: absolute; top:1em; right: 1em;
    span {display: none}
}

footer {padding-top: 5px; margin: 40px 0px 50px 0px; letter-spacing: 1px; color: #999; font-size: 16px;
	a {color: #999;}
	a:hover {color: #aaa;}
	.copy {border-top:1px solid #666;}
}


@media (max-width: 991px) {
    .navbar-header {float: none;}
    .navbar-toggle {display: block;}
    .navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {float: none!important; margin: 7.5px 0px;}
    .navbar-nav>li {float: none; display: block}
    .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
    .navbar-text {float: none;margin: 15px 0;}
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {display: block!important;}
    .collapsing {overflow: hidden!important;}
}